---
layout: page
title: Groups
---

<div class="people-page">
  {% assign people_by_order = site.groups | sort: 'order' %}
  
  <div class="people-grid">
    {% for person in people_by_order %}
      <div class="person-card">
        {% if person.image %}
          <img src="{{ person.image }}" alt="{{ person.title }}" class="person-image">
        {% endif %}
        
        <h3>
          {% if person.external_url %}
            <a href="{{ person.external_url }}" target="_blank">{{ person.title }}</a>
          {% else %}
            <a href="{{ person.url }}">{{ person.title }}</a>
          {% endif %}
        </h3>
        
        {% if person.position %}
          <p class="position">{{ person.position }}</p>
        {% endif %}
        
        {% if person.email %}
          <p><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        {% endif %}
        
        <div class="person-links">
          {% if person.website %}
            <a href="{{ person.website }}" target="_blank">Website</a>
          {% endif %}
          {% if person.github %}
            <a href="https://github.com/{{ person.github }}" target="_blank">GitHub</a>
          {% endif %}
          {% if person.orcid %}
            <a href="https://orcid.org/{{ person.orcid }}" target="_blank">ORCID</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  
  {% if site.people.size == 0 %}
    <p>Group member profiles will be displayed here once added to the _people collection.</p>
  {% endif %}
</div>
